.body_backgorund 
{
    background-image:url(backg.jpg);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: black; 
    border-style:ridge;
}

h3
{
	width: 500px;
	background-color:yellow;
	display: inline-block;
}

